<link rel="stylesheet" type="text/css" href="/css/productstyles.css">
<div>
  <h1>Hola {{user.first_name}}!</h1>
  {{#if user.rol}}
    <h2>Rol: {{user.rol}}</h2>
  {{/if}}

  {{#if admin}}
    <input type="text" name="" id="" placeholder="Podes escribir aca porque sos admin">
  {{/if}}
  <h2>Productos</h2>
  {{#each products}}
  <div class="product-container">
    <p>Titulo: {{this.title}}</p>
    <p>Descripcion: {{this.description}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Codigo: {{this.code}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoria: {{this.category}}</p>
  </div>
  {{/each}}
</div>

<div class="button-container">
  {{#if hasPrevPage}}
    <a class="pagination-link" href="/?page={{this.prevPage}}">Página anterior</a>
  {{/if}}

  {{#if hasNextPage}}
    <a class="pagination-link" href="/?page={{this.nextPage}}">Siguiente página</a>
  {{/if}}

  <a href="/logout" class="logout-button">Cerrar sesión</a>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
