<div>
    <h1>Productos</h1>
    {{#each products}}
        <div style="border: 1px solid #000; border-radius: 1rem; padding: 1rem; margin-bottom: 1rem"></div>
            <p>Titulo: {{this.title}}</p>
            <p>Descripcion: {{this.description}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Codigo: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoria : {{this.category}}</p>
            <p>----------------------------------------</p>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>