<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time</title>
    <link rel="stylesheet" href="../public/css/realTimeProduct.css">
</head>
<body>
    <h1>Real-time Products</h1>

    <p>Lista de productos</p>
    <ul id="productList">
        {{#each products}}
            <li>
                <p>Titulo: {{this.title}}</p>
                <p>Descripcion: {{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Codigo: {{this.code}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Categoria: {{this.category}}</p></li>
                <input type="button" value="Eliminar producto" id={{this.id}} onclick="eliminarProducto('{{this.id}}')">
        {{/each}}
    </ul>


    <form id="crearProductoForm" method="post">
        <p>Agregar productos</p>
        <input type="text" name="title" placeholder="Tituo del producto" required>
        <input type="number" name="price" placeholder="Precio" required>
        <input type="text" name="description" placeholder="Descripcion" required>
        <input type="number" name="code" placeholder="Codigo" required>
        <input type="number" name="stock" placeholder="Stock" required>
        <input type="text" name="category" placeholder="Categoria" required>
        <button type="submit">Crear producto</button>
    </form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
</html>